<div class="jumbotron text-center">
  <h1>Welcome to the Conference Management Website!</h1>
  <p>Log in or register to get started.</p>
  <LinkTo @route="login">Log in</LinkTo> or <LinkTo @route="register">Register</LinkTo>
</div>
