{{! app/templates/manage-speakers.hbs }}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2>Manage Speakers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Bio</th>
          <th>Sessions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.speakers as |speaker|}}
          <tr>
            <td>{{speaker.name}}</td>
            <td>{{speaker.bio}}</td>
            <td>
              {{#each speaker.sessions as |session|}}
                {{session.title}}
                <br>
              {{/each}}
            </td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Remove</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
